#Poetry
.venv/
.python-version
poetry.lock

#Cython
build/
opencv_mat.cpp
zense_pywrapper.cpp
zense_pywrapper.cpython-*
opencv_mat.cpython-*
zense_pywrapper.so
opencv_mat.so

#Apps
cfg/camera_parameter.toml
data/

.vscode/settings.json
zense_pywrapper.egg-info
dist/
build/

example/utils/__init__.pyc
example/utils/projection_module.pyc
example/utils/projection_utils.pyc
example/utils/zense_camera_param.pyc