#Poetry
.venv/
.python-version
poetry.lock

#Cython
build/
opencv_mat.cpp
zense_pywrapper.cpp
zense_pywrapper.cpython-*
opencv_mat.cpython-*
zense_pywrapper.so
opencv_mat.so

#Apps
cfg/camera_parameter.toml
data/
output_image/
